{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <div align="center">
    <h1>Welcome to the page for {{ current_user.username }}</h1>
    <img align="center" src="{{url_for('static', filename='profile_pics/' + current_user.profile_image)}}" alt="">
  </div>
</div>
<div class='container'>
  <form method="POST" action="" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-group">
      {% for error in form.username.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
      {{ form.username.label(class='form-group') }}
      {{ form.username(class='form-control') }}<br>
    </div>

    <div class="form-group">
      {% for error in form.email.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
      {{ form.email.label(class='form-group') }}
      {{ form.email(class='form-control') }}<br>
    </div>

    <div class="form-group">
      {% for error in form.picture.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
      {{ form.picture.label(class='form-group') }}
      {{ form.picture(class='form-control') }}<br>
    </div>

    {{ form.submit(class='btn btn-primary') }}
  </form>
</div>

{% endblock %}
